@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./pics/tlou1.jpg"); */
  scroll-behavior: smooth;
}

.backgroundStyle {
  /* animation: change 15s infinite ease-in-out; */
  background-image: url("../src/pics/tlou1.jpg");
  background-size: "cover";
  background-position: "center";
  height: "100vh";
  min-height: "100vh";
  overflow-y: "auto";
}

@keyframes change {
  0% {
    background-image: url("../src/pics/tlou1.jpg");
  }

  20% {
    background-image: url("../src/pics/tlou2.jpg");
  }

  40% {
    background-image: url("../src/pics/tlou3.jpg");
  }

  60% {
    background-image: url("../src/pics/tlou5.jpg");
  }

  80% {
    background-image: url("../src/pics/tlou6.jpg");
  }

  100% {
    background-image: url("../src/pics/tlou1.jpg"); /* Transition smoothly back to the initial state */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41 37 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(87 83 78);
}

.btn {
  @apply py-2 px-2 rounded;
}

.btn-blue {
  @apply bg-stone-800 hover:bg-white text-7xl p-5 hover:text-stone-950;
}

.vingette {
  opacity: 0.8;
  /* animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
  transition: opacity 0.5s ease-in-out;

  @apply fixed top-0 left-0 w-full h-full;
}
.vingette.fade-in {
  opacity: 1; /* Set opacity to 1 for fade-in effect */
}
.fontForParagraph {
  font-family: sans-serif;
  font-weight: 500;
}

.quizContainer {
  @apply relative bottom-0 left-0 w-full mb-[-100px];
}

.paginationBtn {
  @apply flex items-center justify-center text-stone-700 bg-stone-100 rounded-full w-4 h-4 hover:scale-105 hover:text-stone-900 mr-10;
}
